<strong>Olá, {{ student }}</strong>
<p>Gostáriamos de informar que a sua matrícula foi registrada com sucesso, confira os detalhes abaixo:</p>
<p>
    <strong>Plano:</strong> {{ plan }} <br/>
    <strong>Data de início:</strong> {{ start_date }} <br/>
    <strong>Data de fim:</strong> {{ end_date }} <br/>
    <strong>Valor total:</strong> R$ {{ price }} <br/>
    <br/>
    <small>
       Seja bem vindo à nossa acadêmia!
    </small>
</p>
